@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary: #ff3265;
    --secondary: #141d21;
    --primary-invert: #fff;
    --secondary-invert: #000;
    --gradient-primary: linear-gradient(230deg, #ff3265, #ff3265);
    --gradient-secondary: linear-gradient(230deg, #0a1f44, #020024);
    --text-primary: #141d21;
    --elements-roundness: 100px;
    --space-between-blocks: 5.3rem;
    --space-between-blocks-small-screens: 3rem
}

body {
    font-family: Poppins, sans-serif;
    color: var(--text-primary)
}

.space-between-blocks {
    padding-top: var(--space-between-blocks-small-screens);
    padding-bottom: var(--space-between-blocks-small-screens)
}

@media (min-width: 992px) {
    .space-between-blocks {
        padding-top: var(--space-between-blocks);
        padding-bottom: var(--space-between-blocks)
    }
}


button {
    color: inherit;
    padding: 0;
    background: 0 0;
    border: none
}

button:focus {
    outline: 0;
    box-shadow: none
}



.block__header {
    margin-bottom: 4rem
}

.block__title {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4
}

@media (min-width: 992px) {
    .block__title {
        font-size: 2.5rem
    }

    .block__title--big {
        font-size: 3rem;
        line-height: 1.1
    }
}

@media (min-width: 1200px) {
    .block__title--big {
        font-size: 3rem;
        line-height: 1.2
    }
}

.block__paragraph {
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: .9;
    width: 90%
}

@media (min-width: 992px) {
    .block__paragraph--big {
        font-size: 1.5rem;
        line-height: 1.6
    }
}

video {
    width: 130%;
    left: -15%
}

@media (min-width: 500px) {

    .block-24__title {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.4;
        font-family: 'Kalam', cursive;
    }

    @media (min-width: 992px) {
        .block-24__title {
            font-size: 3rem;
        }
    }

    @media (max-width: 750px) {
        .block-24__title {
            font-size: 1.3rem;
        }
    }

    .block-24__logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .block-24__img {
        max-width: 70%;
        max-height: 800px;
        opacity: .8;
        transition: .2s all;
        margin: 0 2rem;
        margin-bottom: 2rem;
    }

    @media (max-width: 500px) {
        .block-24__img {
            max-width: 80%;
        }
    }

    @media (min-width: 750px) and (max-width: 900px) {
        .block-24__img {
            max-width: 90%;
        }
    }

    @media (min-width: 768px) {
        .block-24__img {
            max-width: 50%;
        }
    }

    @media (min-width: 1200px) {
        .block-24__img {
            max-width: 90%;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .block-24__img {
            max-width: 60%;
        }
    }

    .block-24__img:focus,
    .block-24__img:hover {
        opacity: 1;
    }
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -56px;
    border-top: 3px solid #cccccc;
}

.video-container video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: large;
}

.block-8-scr {
    --space-between-blocks: 2rem;
    --space-between-blocks-small-screens: 0rem;
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color)
}


.block-8-scr__img {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: 0 0
}

.block-8-scr-scr-dots-svg {
    color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 150px;
    transform: translate(-38px, 36px);
    clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0)
}

@media (min-width: 992px) {
    .block-8-scr-scr-dots-svg {
        transform: translate(-38px, 36px);
        clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0)
    }
}




.block-61 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color)
}



.block__header {
    margin-bottom: 4rem
}

.button-27 {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10%;
    will-change: transform;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}