<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>

<form th:action="@{/myTask/my/edit/{taskId}(taskId=${task.getId()})}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="header">Task Header:</label>
    <input type="text" id="header" name="header" th:field="*{task.header}" required>
    <label for="description">Task Description:</label>
    <input type="text" id="description" name="description" th:field="*{task.description}" required>
    <button type="submit">Edit Task</button>
</form>

</body>
</html>
