<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/style/resetstyle.css" type="text/css">


</head>

<body>
<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
    <h1>SIGN UP</h1>
    <div class="formcontainer">
        <p>If you have forgotten your password you can reset it here.</p>
        <div class="container"  style="display: flex; justify-content: center">
            <label>
                <input class="form-control input-lg" placeholder="E-mail Address"
                       name="email" type="email">
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" value="Send My Password"
               type="submit">
    </div>
</form>
</body>

</html>