<!DOCTYPE html>
<html>
<title>Simple Sign up from</title>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/resetstyle.css" type="text/css">
</head>
<body>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <h2 style="text-align: center">Reset your password</h2>
    <input type="hidden" name="token" th:value="${token}"/>
    <div class="formcontainer">
        <span th:text="${message}" style="color: red">Текст за замовчуванням</span>
        <div class="container">
            <p>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Enter your new password" required autofocus/>
            </p>
            <p>
                <input type="password" name="cPassword" class="form-control" placeholder="Confirm your password"
                       required oninput="checkPasswordMatch(this);"/>
            </p>
        </div>
        <div class="container" style=" display: flex;justify-content: center">
            <p class="text-center">
                <input type="submit" value="Change Password" style="justify-content: center">
            </p>
        </div>
    </div>
</form>
</body>
</html>