<div th:fragment="footer">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-2">
                        <a href="" class="field google">
                            <img src="/img/github.png" alt="GitHub" class="img-fluid" style="max-width: 50px">
                        </a>
                    </div>
                    <div class="col-2">
                        <!-- Grid column -->
                        <a href="" class="field google">
                            <img src="/img/telegram.png" alt="Telegram" class="img-fluid" style="max-width: 50px">
                        </a>
                    </div>

                    <!-- Grid column -->

                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-5"/>

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            The product is non-commercial and educational
                            The program code is freely available on GitHub.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->

            <!-- Section: Social -->
            <section class="text-center mb-5">


            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
        >
            © 2023 Copyright:
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
